@import "reset";
@import "header";
@import "addForm";
@import "filterForm";
@import "generator";

body {
  background-color: #3C3C3C
}
.main{
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}